@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SourceSerifPro";
  src: url("../../public/assets/fonts/SourceSerifPro-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/Poppins-Regular.ttf");
}

.heading {
  @apply font-heading;
}

* {
  @apply font-heading;
}

h1 {
  @apply font-heading;
}

h2 {
  margin: 1rem 0 !important;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

ul.ability-tree {
  margin: 0 1em !important;
}

.row {
  padding: 3px 10px;
}

.row.odd {
  background: rgba(0, 0, 0, 0.03);
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.m-0 {
  margin: 0 !important;
}

.projects-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.projects-container.mobile {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.projects-container.mobile .project-btn{
  margin-bottom: 50px;
}

.project-btn {
  width: 237px;
  height: 237px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 0 5px #d5d5d5;
  transition: all .1s ease-out;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

.project-btn.quester {
  background: url("../../public/assets/images/QExample.png");
}

.project-btn.mandarina {
  background: url("../../public/assets/images/Mandarina.png");
}

.project-btn.paco {
  background: url("../../public/assets/images/Paco.png");
}

.q-main-window {
  height: 500px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 0 5px #d5d5d5;
  background: url("../../public/assets/images/MainWindow.png");
}

.p-main {
  height: 500px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 0 5px #d5d5d5;
  background: url("../../public/assets/images/PacoMain.png");
}

.external-container {
  max-width: 219px;
  min-width: 219px;
  min-height: 130px;
  background: #fffbf5;
  border: 1px solid #e6cec2;
  box-shadow: 0px 0 5px #d5d5d58c;
  padding: 10px;
  margin: 30px 0;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.external-container .content h2 {
  display: flex;
  align-items: center;
}

.external-container .content h2 svg {
  width: 20px;
  margin-right: 10px;
}

.external-container .content p {
  font-size: 10pt;
  font-family: "Poppins";
}

.external-container .links {
  display: flex;
  flex-direction: row-reverse;
}

.external-container .links a {
  padding: 5px 15px;
  background: #007cff;
  font-family: "Poppins";
  border-radius: 100px;
  color: white;
  font-size: 12pt;
  display: flex;
}

.external-container .links a svg {
  width: 20px;
  margin-left: 10px;
}

.project-btn.mandarina p {
  font-size: 13pt;
}


.project-btn:hover {
  border: 2px solid black;
  box-shadow: 0px 10px 10px #d5d5d5;
}

.proj-title {
  height: 0;
  opacity: 0;
  padding: 12px 10px;
  background: black;
  transition: all .1s ease-in-out;
}

.proj-title h2, p {
  margin: 0 !important;
}

.proj-title  p {
  font-size: 14pt;
}

.proj-title.mobile {
  height: 100px;
  opacity: 1;
}


.project-btn:hover > .proj-title {
  height: 100px;
  opacity: 1;
}

.no-affect-trns {
  pointer-events: none;
  transform: none !important;
}

.m-20 {
  margin: 20px 0px;
}

.filling-500 {
  height: 500px;
}

.soon {
  margin: 80px 0 !important;
  text-align: center;
}

.links-container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.links-container.mobile {
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.links-container.mobile .external-container {
  width: 100%;
}