@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SourceSerifPro";
  src: url("../../public/assets/fonts/SourceSerifPro-Regular.ttf");
}

 h1 {
  font-family: SourceSerifPro, serif;
 }

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
